resources/odd/bullinger.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Bullinger ODD</title>
                <title type="short">Bullinger ODD</title>
            </titleStmt>
            <publicationStmt>
                <publisher>JinnTec GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Default customization generated by <ref target="http://tei-publisher.com">TEI
                        Publisher</ref>, extending tei_simplePrint.odd.</p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="bullinger" source="teipublisher.odd">
               
            <elementSpec ident="graphic" mode="change">
                    <model predicate="$parameters?view = &#34;facsimile&#34;" behaviour="inline">
            <param name="facs" value="encode-for-uri(@url)"/>
            <param name="label" value="@n"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link emit="transcription" facs="[[facs]]"/></pb:template>
        </model>
                    <model behaviour="graphic">
            <param name="url" value="@url"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="desc"/>
        </model>
                </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
                <elementSpec ident="summary" mode="add">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="TEI" mode="change">
                    <modelSequence predicate="$parameters?view='metadata'">
            <model behaviour="block">
                <param name="date" value="format-date(.//correspAction[@type=&#34;sent&#34;]/date/@when, &#34;[D1o] [MNn] [Y]&#34;, &#34;de&#34;, (), ())"/>
                <param name="sender" value="let $pers-id := .//correspAction[@type=&#34;sent&#34;]/persName/@ref let $place-id := .//correspAction[@type=&#34;sent&#34;]/place/@source let $person := doc(&#34;/db/apps/bullinger-data/data/index/persons.xml&#34;)//persName[@xml:id=$pers-id] let $place := doc(&#34;/db/apps/bullinger-data/data/index/places.xml&#34;)//place[@xml:id=$place-id]/settlement/text() return     &lt;span&gt;&lt;a href=&#34;&#34;&gt;{$person/forename/text() || &#34; &#34; || $person/surname/text()}&lt;/a&gt;{if($place) then (&#34;, &#34; || $place) else ()}&lt;/span&gt;"/>
                <param name="recipient" value="let $pers-id := .//correspAction[@type=&#34;received&#34;]/persName/@ref let $place-id := .//correspAction[@type=&#34;received&#34;]/place/@source let $person := doc(&#34;/db/apps/bullinger-data/data/index/persons.xml&#34;)//persName[@xml:id=$pers-id] let $place := doc(&#34;/db/apps/bullinger-data/data/index/places.xml&#34;)//place[@xml:id=$place-id]/settlement/text() return     &lt;span&gt;&lt;a href=&#34;&#34;&gt;{$person/forename/text() || &#34; &#34; || $person/surname/text()}&lt;/a&gt;{if($place) then (&#34;, &#34; || $place) else ()}&lt;/span&gt;"/>
                <param name="autograph" value="let $archive-id := .//msIdentifier/repository/@ref let $archive := doc(&#34;/db/apps/bullinger-data/data/index/archives.xml&#34;)//org[@xml:id=$archive-id]     return   &lt;span&gt;&lt;a href=&#34;{$archive/idno[@subtype=&#34;url&#34;]/text()}&#34;&gt;{$archive/orgName/text()}&lt;/a&gt;, {.//msIdentifier/idno[@subtype=&#34;Autograph&#34;]/text()}&lt;/span&gt;"/>
                <param name="lang" value=".//langUsage/language/text()"/>
                <param name="printed" value=".//listBibl/bibl[@subtype=&#34;Teilübersetzung&#34;]/title/text()"/>
                <param name="hbbw-no" value="./@source/string() || &#34;, &#34; || ./@n/string()"/>
                <pb:template xmlns="" xml:space="preserve"><pb-collapse class="metadata" expand-icon="icons:chevron-right" collapse-icon="icons:expand-more">
  <div slot="collapse-trigger">
    <h4 class="block-title accordion">Metadata</h4>
  </div>
  <div id="sourceDesc" slot="collapse-content">
    <div>
      <div>Datum</div>
      <div>[[date]]</div>
    </div>
    <div>
      <div>Absender</div>
      <div>[[sender]]</div>
    </div>
    <div>
      <div>Empfänger</div>
      <div>[[recipient]]</div>
    </div>
    <div>
      <div>Autograph</div>
      <div>[[autograph]]</div>
    </div>
    <div>
      <div>Sprache</div>
      <div>[[lang]]</div>
    </div>
    <div>
      <div>Gedruckt</div>
      <div>[[printed]]</div>
    </div>
    <div>
      <div>HBBW-Briefnummer</div>
      <div>[[hbbw-no]]</div>
    </div>
  </div>
</pb-collapse></pb:template>
            </model>
            <model predicate="exists(.//msContents/summary/node())" behaviour="inline">
                <param name="content" value=".//msContents/summary"/>
                <pb:template xmlns="" xml:space="preserve"><pb-collapse class="metadata" expand-icon="icons:chevron-right" collapse-icon="icons:expand-more">
  <div slot="collapse-trigger">
    <h4 class="block-title accordion">Regest</h4>
  </div>
  <div id="regest" slot="collapse-content">[[content]]</div>
</pb-collapse></pb:template>
            </model>
        </modelSequence>
                    <model behaviour="document"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>